<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
				<div class="card-header">
					<h5 class="card-title">TOTAL ORDERS</h5>
					<h5>{{total_orders}}</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
				<div class="card-header">
					<h5 class="card-title">ORDERS DELIVERED</h5>
					<h5>{{delivered}}</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
				<div class="card-header">
					<h5 class="card-title">ORDERS PENDING</h5>
					<h5>{{pending}}</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>
</div>